.contentHeader {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.formUser{
    display: flex;
    margin-bottom: 20px;
}

.userAvatar{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0 10px 10px;
    border-radius: 50%;
}

.userDescription{
    align-self: center;
}

.contact {
    padding-left: 10px;
}