.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;

}

.dialogsItems {
    padding: 20px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
margin-bottom: 10px;
}

.dialog a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.messages {
    padding: 20px;
}

.messages .message {
    margin-bottom: 10px;
}